/* */
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
/* */
* {
    margin: 100;
    padding: 0;
    font-family: 'Zen Antique Soft', sans-serif;
}
/* */
body {
    background: #0a2a43;
    min-height: 15000px;
    margin: 0;
}
/* */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-items: center;
}
/* */
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}
/* */
section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* */
#text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
    right: -1.5em;
}

#road {
    z-index: 2;
}
/* */
#logo{
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 25vh;
    width: 20vh;
    left: 10px;
}
/* */
.daraah{
    position: relative;
    width: 100%;
    padding: 100px 0px;
    color: #fff;
}
/* */
.daraah img{
    position: relative;
    padding: 0;
    height: 300px;
    width: 400px;
    left: 600px;
    background-image: 100%;
    border-radius: 4vh;
    float: right;
    inline-size: auto;
    
}
/* */
.about-text{
    position: relative;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
    left: 3vh;
}
/* */
.daraah .had{
    position: relative;
    padding: 0;
    margin: 0;
    height: 300px;
    width: 400px;
    left: 1200px;
    background-image: 100%;
    border-radius: 4vh;
    float: right;
    inline-size: auto;
}
/* */
.daraah .about-text{
    position: absolute;
    margin: 0;
    padding: 0;
}
/* */
.photo2 .shuher{
    position: relative;
    margin: 2px;
    padding: 0;
    left: 903px;
    height: 300px;
    width: 400px;
    background-image: 100%;
    border-radius: 4vh;
    float: right;
    inline-size: auto;
}
/* */
.photo2 .mori{
    position: relative;
    margin: 2px;
    padding: 0;
    left: 905px;
    height: 300px;
}